main {
  display: flex;
  flex-direction: row;
}

.container {
  background-image: url("/assets/site/mapblue.jpg");
  flex-grow: 3;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.displaycontainer {
  flex-grow: 1;
  background-color: #a6a6a6;

}

.container__character {
  width: 80px;
  text-align: center;
  vertical-align: top;

}

.span__character {
  display: block;
}

.img__character {
  width: 75px;
  height: 75px;
}

.sign__img {
  width: 300px;
  height: 60px;
  padding: 30px;

}